@charset "UTF-8";

/*Estilo para tela*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: gray;
}

header > h1{
    padding: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


menu ul{
    background-color: rgb(59, 59, 59);
    list-style-type: none;

}

menu li{
    background-color: rgb(105, 105, 105);
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    font-weight: bolder;
}

menu li:hover{
  
    transition: 0.5s;
    color: wheat;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}