@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: lightgray;
}

header{
    background-color: rgb(153, 149, 149);
}

header > h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 0px gray;
}